// ######################################## //
// ## LINKS&BUTTONS.SCSS ## //
// ######################################## //

button{


					color: #d9d9d9; 
					border-radius: 3px;
					border-width: 0rem;
					cursor: pointer;
					padding: 2rem 4rem;
					border-width: 0rem;
}
