
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding-bottom: 2rem;

  .texture-text {
    background: url("../images/red-texture.png");
    background-size: 80px 60px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  h1 {
    margin: 0 0 0.5rem 0;
    font-size: 3.2rem;
    font-weight: 600;
  }

  h2 {
    margin: 0 0 2rem 0;
    font-size: 1.15rem;
    font-weight: 400;
    color: $gray-4;
  }

  a {
    position: relative;
    padding: 0.8rem 2.8rem;
    @include border-radius(100px);
    background: url("../images/red-texture.png");
    animation: scratchy 0.4s infinite;
    background-size: 80px 60px;
    color: $black;

    &:hover {
      &:before {
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
      }
    }

    span {
      z-index: 10;
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      background: $white;
      @include border-radius(100px);
      z-index: 1;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      @include transition;
    }
  }
}

@include keyframes(scratchy) {
	0% {
		background-position: 0 0;
	}
	25% {
		background-position: 0 0;
	}
	26% {
		background-position: 20px -20px;
	}
	50% {
		background-position: 20px -20px;
	}
	51% {
		background-position: 40px -40px;
	}
	75% {
		background-position: 40px -40px;
	}
	76% {
		background-position: 60px -60px;
	}
	99% {
		background-position: 60px -60px;
	}
	100% {
		background-position: 0 0;
	}
}
