
.side-bar {
  height: 100%;
  width: 300px;
  position: relative;
  padding: 2rem;

  @include mobile-tablet {
    height: auto;
    width: 100%;
  }

  .p-relative {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &:hover {
    .visible {
      opacity: 0.2;
    }
  }

  .visible-hover {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    @include transition;
  }

  .visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    position: absolute;
    font-size: 1.1rem;
    @include transition;

    @include mobile-tablet {
      flex-direction: row;
    }

    .space {
      height: 1rem;
      width: 8px;
    }

    span {
      font-weight: 600;

      @include mobile-tablet {
        margin-right: 2px;
      }
    }

    .line {
      width: 2px;
      min-height: 200px;
      margin: 0.4rem 0;
      background: $black;
      @include transition;

      @include mobile-tablet {
        margin: 0 0.4rem;
        height: 2px;
        min-height: 2px;
        width: 50px;
      }
    }
  }
}
