// ######################################## //
// ## DASHBOARD.SCSS ## //
// ######################################## //

.wrapper--page {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  @include mobile-tablet {
    flex-direction: column;
  }
}

// Work section
.work {
  .visible {
    right: 0;
    top: 0;

    @include mobile-tablet {
      bottom: 0;
    }
  }

  &:hover {
    .visible {
      padding-top: 150px;

      .line {
        min-height: 150px;

        @include mobile-tablet{
          min-height: 2px
        }
      }
    }
    .visible-hover {
      max-height: 145px;

      @include mobile-tablet {
        overflow: visible;
      }
    }
  }

  .visible-hover {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @include mobile-tablet {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .project {
      color: $blue;
      margin-top: 0.1rem;
      font-size: 1.5rem;
      position: relative;

      &:hover {
        color: darken($blue,10%);

        &:before {
          width: 100%;
        }
      }

      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 2px;
        width: 0;
        background: $blue;
        @include transition;
      }
    }

    .more {
      margin-top: 1rem;
      color: $gray-6;
      background: $yellow;
      font-size: 0.8rem;
    }
  }
}

// About Section
.about {

  &:hover {
    .visible {
      padding-bottom: 230px;

      @include mobile-tablet {
        transform: translateY(-100px);
      }

      .line {
        min-height: 100px;

        @include mobile-tablet{
          min-height: 2px;
        }
      }
    }
    .visible-hover {
      max-height: 400px;

      @include mobile-tablet {
        overflow: visible;
        display: block;
      }
    }
  }

  p {
    min-width: 400px;
    max-width: 500px;
    font-size: 0.9rem;

    @include mobile {
      min-width: auto;
      font-size: 0.8rem;
    }
  }

  .visible {
    bottom: 0;
    left: 0;

    @include mobile-tablet {
      top: 0;
    }
  }

  .visible-hover {
    bottom: 0;
    left: 0;

    @include mobile-tablet {
      position: absolute;
      top: 0;
      left: 0;
      max-height: auto;
      overflow: auto;
      display: none;
    }
  }

}

.bubble {
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    @include border-radius(100rem);
    top: -0rem;
    left: -5rem;
    height: 30rem;
    width: 30rem;
    z-index: -1;
    @include linear-gradient(110deg , #B066FE, #63E2FF);
    @include box-shadow(0,2rem,5rem,0,rgba(100,100,100,0.1));

    @include mobile-tablet {
      top: -15rem;
      left: -11rem;
    }

    @include mobile {
      top: -10rem;
      left: -7rem;
      height: 23rem;
      width: 23rem;
    }
  }

  &:after {
    content: '';
    position: absolute;
    @include border-radius(100rem);
    top: 15rem;
    left: 0rem;
    height: 45rem;
    width: 45rem;
    z-index: -2;
    @include linear-gradient(110deg , #00A8C5, #FFFF7E);
    @include box-shadow(0,5rem,10rem,0,rgba(100,100,100,0.1));

    @include mobile-tablet {
      top: -19rem;
      left: 15rem;
      @include linear-gradient(290deg , #00A8C5, #FFFF7E);
    }

    @include mobile {
      top: 1rem;
      left: 10rem;
      height: 20rem;
      width: 20rem;
      @include linear-gradient(40deg , #00A8C5, #FFFF7E);
    }
  }
}
